.header-nav {
    &:last-child{
        a{
            .menu{
                .submenu{
                    left:unset !important;
                right: -12px;
                }
            }
        }
    }
    a {
        &.active {
            @apply text-green-500
        }

        &:hover{
            .menu{
                .submenu{
                    @apply opacity-100 visible h-auto
                }
            }
        }
        .menu {
            img {
                @apply w-6 mr-1
            }

            &:last-child{
                .submenu {
                left:unset !important;
                right: 0;
                }
            }
           

            .submenu {
                max-height: calc(100vh - 46px);
                transition-property: transform, visibility, opacity;
                overflow-wrap: break-word;
                top: 70px;
                left:calc(50% - 112px);
                //transform: translateY(105%) translateX(0%);
                
                ul{
                    list-style: none;
                    li{
                        border-bottom: 1px solid rgb(21, 27, 34);
                        a {
                            &:hover{
                                @apply bg-[#494d56]
                            }
                            .icon{
                                @apply mr-2 text-xl
                            }
                            @apply w-full py-4  ml-0 flex transition-all duration-300 ease-in-out font-normal items-center justify-start px-2
                        }
                        @apply py-0 
                    }
                }

                @apply absolute bg-[#303339] w-56  rounded-bl-md rounded-br-md overflow-y-auto duration-1000 shadow-lg z-50 opacity-0 invisible h-0 
            }

            @apply flex items-center relative py-6 sm:py-2
        }

        @apply transition-all duration-300 ml-10 text-slate-300 border-transparent hover:text-green-500 font-semibold text-[16px] sm:w-full sm:py-4 sm:ml-0 sm:px-3 sm:flex sm:justify-between
    }

    @apply flex items-center justify-end sm:flex-col sm:justify-start sm:fixed sm:w-full sm:h-[100vh] sm:bg-dark-bg  sm:-right-full transition-all duration-700 sm:top-[78px] sm:opacity-0
}

.search {

    @apply sm:bg-dark-bg sm:w-full h-[78px] sm:fixed sm:left-0 sm:-top-full sm:transition-all sm:duration-300
}